/***** Navigation *****/
h2 {
  color: #cbe4ff; }

h5 {
  font-weight: normal; }

body {
  background: #143e8a;
  color: white; }
  body a {
    color: #FFFFFF; }
    body a:hover {
      color: #FFFFFF; }

.navbar {
  background: #444;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: -1px 3px 29px 0px rgba(3, 14, 54, 0.8);
  box-shadow: -1px 3px 29px 0px rgba(3, 14, 54, 0.8); }

.navbar.navbar-no-bg {
  background: #444;
  background: rgba(15, 49, 111, 0.9); }

.navbar-dark .navbar-nav {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase; }

.navbar-collapse {
  background: rgba(15, 49, 111, 0.9); }
  @media (max-width: 767px) {
    .navbar-collapse {
      width: 100%;
      position: absolute;
      left: 0;
      top: 3.5em; } }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  color: white;
  border: 0; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff; }

.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
  outline: 0; }

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem; }

.navbar-brand {
  width: 105px;
  border: 0;
  font-weight: bold;
  font-style: italic; }

.breadcrumb {
  background: none; }

#siteContent.row {
  margin: 0; }

.tools {
  background: #254a8f;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(22, 50, 99, 0.3)), color-stop(30%, #254a8f));
  background: -webkit-linear-gradient(bottom, rgba(22, 50, 99, 0.3), #254a8f 30%);
  background: -o-linear-gradient(bottom, rgba(22, 50, 99, 0.3), #254a8f 30%);
  background: linear-gradient(0deg, rgba(22, 50, 99, 0.3), #254a8f 30%);
  padding: 2em; }
  .tools .card-columns .card {
    background: #112961;
    border: 0.0625em solid #384e86;
    border: none; }
    .tools .card-columns .card.c-bg {
      text-align: center;
      overflow: hidden; }
      .tools .card-columns .card.c-bg:hover {
        background: #030e36; }
      .tools .card-columns .card.c-bg img {
        width: 50%;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto; }
  @media (max-width: 1330px) {
    .tools .card-columns {
      -webkit-column-count: 2;
      column-count: 2; } }
  @media (max-width: 978px) {
    .tools {
      max-width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
      .tools .card-columns {
        -webkit-column-count: 3;
        column-count: 3; } }
  @media (max-width: 578px) {
    .tools .card-columns {
      -webkit-column-count: 2;
      column-count: 2; } }

.features .card {
  border: none;
  padding: 2em;
  background: #254a8f;
  background: -webkit-linear-gradient(45deg, #254a8f 50%, rgba(22, 50, 99, 0.3));
  background: -o-linear-gradient(45deg, #254a8f 50%, rgba(22, 50, 99, 0.3));
  background: linear-gradient(45deg, #254a8f 50%, rgba(22, 50, 99, 0.3)); }
  .features .card:first-child {
    margin-bottom: 1em; }
  .features .card .card-body {
    text-align: right; }
  .features .card button {
    background: #112961;
    border: 0.0625em solid #384e86;
    border-radius: .25em;
    color: #FFFFFF;
    padding: 1em;
    cursor: pointer; }
    .features .card button:hover {
      background: #030e36; }

@media (max-width: 978px) {
  .features {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-top: 2em;
    text-align: center; }
    .features .card .card-body {
      text-align: center; } }

.footer-distributed {
  -webkit-box-shadow: -1px 3px 29px 0px rgba(3, 14, 54, 0.8);
  box-shadow: -1px 3px 29px 0px rgba(3, 14, 54, 0.8);
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

/* Footer left */
.footer-distributed .footer-left {
  width: 40%; }

/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0; }

.footer-distributed h3 span {
  color: #5383d3; }

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none; }

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center i {
    margin-left: 0; } }
